# SPDX-FileCopyrightText: 2026 aesc silicon
#
# SPDX-License-Identifier: CERN-OHL-W-2.0


# Listen on all interfaces (not just 127.0.0.1)
bindto 0.0.0.0

set _here [file dirname [info script]]

switch -- $env(SOC) {
	ElemRV-H { source $_here/hydrogen.cfg }
	ElemRV-C { source $_here/carbon.cfg }
	ElemRV-N { source $_here/nitrogen.cfg }
	default  { error "no OpenOCD platform config for SOC '$env(SOC)'" }
}

init
