# SPDX-FileCopyrightText: 2026 aesc silicon
#
# SPDX-License-Identifier: CERN-OHL-W-2.0

# Nitrogen platform: VexiiRiscv DTM (shared) plus the Nitrogen memory map.

set _CHIPNAME nitrogen
source [file dirname [info script]]/vexiiriscv.cfg

$_CHIPNAME.cpu configure -work-area-phys 0x80000000 -work-area-size 0x2000 -work-area-backup 0

set FLASH_BASE 0xa0000000
flash bank spiflash nafarr_spi_xip $FLASH_BASE 0x80000 0 0 $_CHIPNAME.cpu 0xf0025000 0x007f0702
