Zibal.v
VexRiscv.v
*.bin*
verbose.log
project/*
target/*
simWorkspace/
tmp/
build/*.v
build/*.yaml

/software/*

eda/OSS/sim/build
eda/Xilinx/sim/vivado*.str
eda/Xilinx/sim/.Xil
eda/Xilinx/sim/xsim.dir
eda/Xilinx/syn/.Xil
eda/Xilinx/syn/*.txt
eda/Xilinx/syn/usage*
eda/Xilinx/syn/output/*
*log
*jou
*pb
*wdb
.vscode
