# SPDX-FileCopyrightText: 2025 aesc silicon
#
# SPDX-License-Identifier: CERN-OHL-W-2.0

# This workflow checks the scala format

name: Scala Format Check

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: zibal

      - name: Setup Scala
        uses: olafurpg/setup-scala@v11

      - name: Checkout VexRiscv
        uses: actions/checkout@v2
        with:
          repository: aesc-silicon/elements-vexriscv
          ref: main
          path: vexriscv

      - name: Checkout Nafarr
        uses: actions/checkout@v2
        with:
          repository: aesc-silicon/elements-nafarr
          ref: main
          path: nafarr

      - name: Checkout SpinalCrypto
        uses: actions/checkout@v2
        with:
          repository: SpinalHDL/SpinalCrypto
          ref: master
          path: SpinalCrypto

      - name: Check Format
        run: |
          cd zibal
          sbt scalafmtCheck
