# SPDX-FileCopyrightText: 2025 aesc silicon
#
# SPDX-License-Identifier: CERN-OHL-W-2.0

# This workflow runs all zibal test cases

name: Zibal Tests

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: zibal

      - name: Setup Scala
        uses: olafurpg/setup-scala@v11

      - name: Clear Scala Cache
        run: |
          rm -rf ~/.sbt/
          rm -rf ~/.ivy2/

      - name: Checkout VexRiscv
        uses: actions/checkout@v2
        with:
          repository: aesc-silicon/elements-vexriscv
          path: vexriscv

      - name: Checkout Nafarr
        uses: actions/checkout@v2
        with:
          repository: aesc-silicon/elements-nafarr
          ref: main
          path: nafarr

      - name: Checkout SpinalCrypto
        uses: actions/checkout@v2
        with:
          repository: SpinalHDL/SpinalCrypto
          ref: master
          path: SpinalCrypto

      - name: Compile
        run: |
          cd zibal
          sbt compile
